*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    position: absolute;
    top: 40px; 
    right: 60px; 
}

.navbar ul {
    display: flex;
    gap: 0px; 
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after
{
    content:'';
    height:3px;
    width: 0;
    background: #ad7e44;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after
{
    width: 100%;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100%;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px 50px;
    border-radius: 10px;
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    color: white;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-info p strong {
    margin-right: 10px;
}